.rojo{

    color:red;
}

.verde{

    color:green;
}

#imagen1{

    width: 600px;
    height: auto;
    display: block;
    border: 5px outset red;

}

#hardiyas{

    color: tomato;
}